:root {
  --ifm-color-primary: #0077cc; /* Marine/Azure */
  --ifm-color-primary-dark: #005fa3;
  --ifm-color-primary-darker: #004f8a;
  --ifm-color-primary-light: #3399ff;
  --ifm-color-primary-lighter: #66b3ff;

  --ifm-code-font-size: 95%;
}

.hero--primary {
  background-color: var(--ifm-color-primary-dark);
}

.navbar {
  background-color: #0c1c2c;
}

.footer {
  background-color: #06111d;
}
